{% extends "base.html" %}
{% load static %}

{% block static %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.js"></script>
<script src="{% get_static_prefix %}tictactoe.js"></script>
{% endblock %}


{% block content %}

{% if player %}
<p>You have {{ player.win_count }} wins.</p>
<a href="/logout/">Logout,</a> from {{ player.name }}

{% else %}
<p>You are logged in as a guest.</p>
<a href="/">Login,</a> to have your wins counted.
{% endif %}

<table border="0px" align="center">
<tr><td>
<div id="menu"></div>
<div id="board"></div>
</td></tr>
</table>
    
<br><h2> Leaderboard</h2>

{% for player in leaderboard %}
    <p>{{ forloop.counter }}. {% filter force_escape %}{{ player.name }} ({{player.win_count}} wins){% endfilter %}</p>
{% endfor %}

{% endblock %}